@page "/beers"
@using BlazorCrud.Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http

<h3>Beers</h3>

<div class="row">
    <div class="col-12 text-lg-end">
        <a class="navbar-toggler" style="text-decoration:none" href="beerForm">New</a>
    </div>
</div>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Brand</th>
        <th></th>
    </tr>
    @if (response != null && response.Data != null) {
        
    @foreach (var item in response.Data)
       {
           <tr>
               <td>@item.Id</td>
               <td>@item.Name</td>
               <td>@item.Brand</td>
               <td>
                    <a href="/BeerForm/@item.Id" style="text-decoration:none">Edit</a>
                    <a href="/deleteBeer/@item.Id" style="text-decoration:none">Delete</a>
                </td>
           </tr>
       }
    }

</table>
@code {
    public string url = "/api/beer";
    public DefaultResponse<List<Beer>> response = new DefaultResponse<List<Beer>>();
    protected override async Task OnInitializedAsync() =>
    response = await Http.GetFromJsonAsync<DefaultResponse<List<Beer>>>(url);
}
